
#pileImg {
    margin-left: 70px;
    align-items: right;
}

img {
    width: 13%
}

.button {
    margin-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* #dealerCards {
    margin-left: 114px
} */
/* 691 × 1056 is the original card size img*/
